.metadata/.lock
.metadata/.plugins/org.eclipse.core.resources/.history/a7/b0428d19c278001d1d9cf6aa3f133ae2
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/FicherosTema2/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/FicherosTema2/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/FileReader/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/FileReader/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/practica_accesoADatos/.markers
*.log
*.dat
*.markers
*.index
*.tree
*.version
*.resources
*.prefs
.metadata/
EjerciciosTema3.zip
